<div>
  <%= image_tag line_item.product.image.thumb.url %>
</div>
<div>
  <h4><%= line_item.product.name %></h4>
  <p><%= line_item.product.description %></p>
  <p>Quantity: <%= line_item.quantity %></p>
  <p>Item Total: <%= humanized_money_with_symbol(line_item.total_price) %></p>
</div>