<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
  </div>

  <%= render @order.line_items %>

  <div class="order-total">
    <h3>Total: <%= humanized_money_with_symbol(@order.total_cents/100.0) %></h3>
    <p>Order placed by: <%= @order.email %></p>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>